@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}



.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    
}

.social {
    margin: 0px 10px;
}

.socialLogo {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}

.copyright {
    padding: 10px;
}



footer {
   
    background: rgb(25, 23, 23);
    color: white;
    width: 100%;
    text-align: center;
    

}

.mainNavigationContainer {
  display: flex;
  background: black;
  align-items: center;
  border-bottom: 1px solid red;
  position: fixed;
  width: 100vw;
  z-index: 999;
  

  
  
}

.mobileNavigation {
  display: none;
}

.navigationContainer {
    list-style: none;
    display: flex;
    margin: 0px 60px;
    width: 100%;

    
    padding: 30px 0px;
    justify-content: center;
    
    
    

}

.navList {
    margin: 0px 25px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    
    
}

.downloadBtn {
  margin-right: 40px;
  background: rgb(255, 225, 0);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.downloadBtn:hover {
  background: yellow;
}




.mainlogo {
  width: 50px;
  height: 50px;
  margin-left: 40px ;
  
}





.basicImage{
  width: 100%;
  height: auto;
  
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    
    .aboutMe {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      
    }

    .innerAboutContainer{
      width: 100%;
      
      
    }

    

    .aboutLeftContainer {
      display: none;
      
  }

    .aboutContainer{
      height: fit-content;
      
      
      
    }
    .aboutContent{
      height: fit-content;
      margin: 10px 0px;
      width: 100%;
      
      
    }

    
    .aboutRightContainer {
      border-radius: 10px 10px 10px 10px;
      background: rgb(147, 144, 144);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px 0px;

    }

    .hello {
      margin: 10px 0px;
      font-size: 25px;
    }
    
    .name {
        margin: 5px 0px;
        font-size: 20px;
    }
    
    .container .text {
        position: relative;
        color: #4070F4;
        font-size: 15px;
        font-weight: 600;
        width: 100%;
    }

    .container {
      margin: 0px 40px;
      color: white;
      
  }
  .basicRightContainer {
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: left;
    height: auto;
    overflow-x: hidden;
  }

  .basicContainer {
    width: 100%;
    background: red;
    display: flex;
    height: fit-content;
    margin-top: 80px;
    flex-direction: row;

}
.basicLeftContainer {
  width: 70%;
  background: orange;
  display: flex;

}

.knowBtn {
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
  font-size: 12px;
  margin: 10px 0px;
  cursor: pointer;
  background: rgb(224, 179, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  
}

.knowBtn:hover{
  background: yellow;
}

.arrow{
  width: 10px;
  height: 10px;
  margin: 5px 0px 5px 10px;
  
}

.menuLogo {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.mobileNavigation {
  display: flex;
    background: black;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid red;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0px;
}
.mainNavigationContainer {
  display: none;
}

  .mobileBtn {
    width: 80px;
  }

    
    /* Additional styles for extra small devices */
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* Styles for small devices */
    .aboutLeftContainer {
    
      width: 40%;
      border-radius: 10px 0px 0px 10px;
      height: 470px;
      background: url("./images/portrait.png");
      background-size: cover;


      
  }

      .hello {
        margin: 10px 0px;
        font-size: 30px;
      }

      .name {
          margin: 5px 0px;
          font-size: 40px;
      }

      .container .text {
          position: relative;
          color: #4070F4;
          font-size: 27px;
          font-weight: 600;
          width: 100%;
      }


      .container {
        margin: 0px 60px;
        color: white;
        
    }

    .basicRightContainer {
      width: 100%;
      background: black;
      display: flex;
      align-items: center;
      justify-content: left;
      
  }

  .basicContainer {
    width: 100%;
    background: red;
    display: flex;
    height: 665px;
    margin-top: 80px;
    flex-direction: row;

  }
  .basicLeftContainer {
    width: 420px;
    background: orange;
    display: flex;
    align-items: center;
    
    

    
    

} 
.knowBtn {
  border: none;
  outline: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
  margin: 10px 0px;
  cursor: pointer;
  background: rgb(224, 179, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  
}

.knowBtn:hover{
  background: yellow;
}

.arrow{
  width: 25px;
  height: 25px;
  margin: 5px 0px 5px 10px;
  
}     
    

  }
  
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* Styles for medium devices */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* Styles for large devices */

  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* Styles for extra large devices */
  }
  
  







.container .text.first-text {
    color: #fff;
}

.text.second-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 4px solid #4070F4;
    animation: animate 4s steps(12) infinite;

}

@keyframes animate{
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}





.projectsContainer {
    background: black;
    width: 100%;
    color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    

}

.workInProgress {
  width: auto;
  height: 150px;
}

.innerProjectsContainer {
    width: 90%;
    background: grey;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 15px;

}

.projectTitle {
    font-size: 35px;
    font-weight: 600;
    margin: 0px 0px 15px 0px;
}


.cardContainer {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    gap: 10px;
    
    
    
}

.projectCard {
    
    background: white;
    width: 100%;
    height: 350px;
    outline: 1px solid black;
    margin-top: 10px;
    
    border-radius: 10px;

}

.aboutContainer {
    width: 100%;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    flex-direction: column;
    
}

.innerAboutContainer {
    background: grey;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;

    
}

.aboutTitle {
    font-size: 30px;
    margin: 0px 0px 15px 0px;
    font-weight: 500;
}

.aboutMe {
    display: flex;
    width: 100%;
    border-radius: 10px;
}






.aboutContent {
    width: 79%;
    height: 79%;
    outline: 2px solid black;
    padding: 20px;
    font-size: 17px;
    

}

.quoteContainer {
    background: grey;
    
    width: 95%;
    margin: 20px 50px 0px 50px;
    border-radius: 10px;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    padding: 10px;
}

.jobs {
    text-align: right;
    margin: 0px 40px 10px 0px;
    font-size: 20px;
}

.contactContainer {
    width: 100%;
    
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    flex-direction: column;
    background: rgb(25, 23, 23);
    
}


.innerContactContainer {
    
    width: 95%;
    border-radius: 10px;
    height: fit-content;
    
}

.contactTitle{
    font-size: 30px;
    margin: 0px 0px 15px 20px;
    align-self: flex-start;

}

.cv {
    margin: 15px 0px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    outline: 1px solid black;
    cursor: pointer;
    font-size: 15px;
    background: rgb(229, 199, 3);

}

.cv:hover {
    background: yellow;
}

.skillsContainer {
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillsTitle {
    color: white;
    font-size: 25px;
    font-weight: 600;

}

.skillsOuterContainer {
    margin-top: 10px;
    color: white;
    background: rgb(213, 207, 207);
    width: 95%;
    border-radius: 15px;
    
    height: fit-content;
}


.scroll-container {
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-content {
    display: inline-block;
    animation: scroll 20s linear infinite;
  }
  
  .scroll-item {
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    
    
    margin: 10px 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40%);
    }
  }

  .skillLogo {
    width: 80px;
    height: 80px;
  }

  .html {
    width: 70px;
    height: 80px;
  }

  .javascript {
    width: 95px;
    height: 80px;
  }


  .node {
    height: 80px;
    width: 120px;
  }

  .react {
    width: auto;
    height: 80px;
  }

  .reactNative {
    width: auto;
    height: 80px;
  }

  .tensor {
    width: auto;
    height: 80px;
  }

  .licenseCertificationContainer {
    color: white;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    
    
  }

  .innerCertificationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
    flex-direction: column;
    width: 95%;
    
  }

  .certificationTitle {
    font-size: 25px;
    font-weight: 500;
    
  }

  .innerCertificationContainer2 {
    border-radius: 15px;
    background: grey;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
  }

  .certificationCard {
    width: 400px;
    background: white;
    height: 400px;
    border-radius: 10px;
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    
  }

  .cardInnerContainer {
    height: 500px;
    outline: 2px solid black;
    width: 95%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  .gridContainer {
    display: grid;
    
    box-sizing: border-box;
    
    
    margin: 20px;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
    
  }

  .certificationImage {
    background: red;
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .certificationDetails {
    background: orange;
    width: 100%;
    height: 25%;
    border-radius: 0px 0px 10px 10px;


  }

  .certificate {
    background-image: url("./images/java-certificate.jpg");
    background-size: cover;
    width: 95%;
    height: 95%;
  }

  .flip-card {
    background-color: transparent;
    width: 100%;
    height: 350px;
    perspective: 1000px;
    font-family: sans-serif;
    
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0 10px;

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: rgb(169, 98, 98);
  }
  
  .certificateFrontCardDetails {
    color: rgb(119, 108, 108);
    
  }

  .flip-card-back {
    background: rgb(255, 211, 195);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .webDeveloper {
    height: auto;
    
    
  }
  
  .bold {
    font-weight: 600;
    color: grey;
  }

  .grey {
    color: grey;
  }

  .certificateDetailContainer {
    display: flex;
    color: black;
    background: white;
    margin-top: 10px;
    text-align: left;
    padding: 23px 10px;
    border-radius: 0px 0px 15px 15px;
    font-size: 14px;
    border-top: 1px solid black;
    
  }

  .certificate {
    margin-top: 16px;
    width: auto;
    height: 220px;
  }

  .credentialsBtn {
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 0px 0px 0px;
    outline: 1px solid black;
    background: rgb(255, 234, 0);
  }

  .credentialsBtn:hover{
    background: yellow;
  }

  .HireMeContainer {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 25px;
    font-size: 22px;
    width: 100%;


  }

  .hireInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(75, 74, 74);
    width: 100%;
    padding: 25px 0px;
  }

  .hireBtn {
    font-size: 18px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background: rgb(255, 234, 0);
    cursor: pointer;

  }

  .hireBtn:hover {
    background: yellow;
  }

  .hireDetails {
    margin: 0px 20px;
    text-align: center;
  }
